
{% extends 'base.html' %}

{% block title %} {{ setup.meta_title }} {% endblock %}
{% block description %} {{ setup.meta_description }} {% endblock %}
{% block keywords %} {{ setup.meta_keywords}} {% endblock %}
{% block canonical %} {{ setup.domen }} {% endblock %}
{% block og:title %} {{ setup.meta_title }} {% endblock %}
{% block og:description %} {{ setup.meta_description }} {% endblock %}
{% block og:url %} {{ setup.domen }} {% endblock %}
{% block twitter:title %} {{ setup.meta_title }}{% endblock %}
{% block twitter:description %} {{ setup.meta_description }}{% endblock %}
{% block og:site_name %} {{ setup.domen }}{% endblock %}

{% block body %}
{% load static %}
{% load contact_tags %}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__inner">
            <h1 class="breadcrumbs__title">О нас</h1>
            <ol class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a class="breadcrumbs__link" itemprop="item" href="{% url 'index' %}">
                        <span itemprop="name">Главная</span></a>
                    <meta itemprop="position" content="1" />
                </li>
               
             
                <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <span itemprop="name">О нас</span>
                    <meta itemprop="position" content="2" />
                </li>
            </ol>
        
        </div>
    </div>
    <img src="{{ breadcrumbs.about.url }}" alt="" class="breadcrumbs__img">
</div>

<div class="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__left"> 
                <img src="{% static 'images/about.jpg' %}" alt="" class="about__img">
            
            </div>
            <div class="about__right">
                <h3 class="about__subtitle">О нас</h3>
                <h2 class="about__title">Компания ООО «Толиман»</h2>

                <p class="about__text">

                Компания  выполняет широкий круг строительно-монтажных работ. Наша компания производит проектирование и строительные работы.  У нас лучшая команда, которая использует новейшие технологии в строительстве. 
                

                
                </p>
                <h3 class="about__subtitle">Мы готовы предложить широкий спектр услуг:</h3>
                <ul class="about__list">
                    <li class="about__li">Проектирование коттеджей, домов и зданий любых назначений</li>
                    <li class="about__li">Строительство домов из любого материала: дерево, кирпич, брус, блоки, каркас</li>
                    <li class="about__li">Изготовление, монтаж. Металлоконструкций</li>
                    <li class="about__li">Отделочные работы</li>
                    <li class="about__li">Монолитные работы</li>
                    <li class="about__li">Сантехнические работы</li>
                    <li class="about__li">Высотные работы</li>
                    <li class="about__li">Электромонтажные работы</li>
                    <li class="about__li">Работы бетонные</li>
                    <li class="about__li">А также Строительные материалы по низким ценам в Томске.</li>
                </ul>
                
              

                <h3 class="about__subtitle"> Наши преимущества:</h3>
                <ul class="about__list">
                        <li class="about__li">Обратившись в нашу компанию, вы получите максимально квалифицированную помощь специалистов.</li>
                        <li class="about__li">Строго соблюдаем все обязательства по договору!</li>
                        <li class="about__li">Гарантия качества!</li>
                        <li class="about__li">Проектирование и строительство в соответствии со всеми нормативно-техническими требованиями!</li>
                    
                    </ul>
                
                
                
                 <h3 class="about__subtitle"> Дополнительная инормация.</h3>
                <p class="about__text">
                электромонтажные работы, фундаментные работы, утепление, строительство навесов, строительство коттеджей, строительство каркасных домов, строительство домов, проектирование коттеджей, проектирование домов, доставка.

                </p>
                <h3 class="about__subtitle"> Варианты оплаты:</h3>
               
                
                авансовый платеж, безналичный расчет, договорная, наличными, предоплата.
            </div>
        
        </div>
    </div>
</div>


<div class="about-per">
    <div class="container">
        <div class="about-per__inner">
            <div class="about-per__item">
                <i class="about-per__icon fas fa-map-marker-alt"></i>
                <div class="about-per__wrap">
                <p class="about-per__count">80</p>
                <p class="about-per__text">Выполненных заказов</p>
                </div>
            </div>
              <div class="about-per__item">
                <i class="about-per__icon fas fa-map-marker-alt"></i>
                <div class="about-per__wrap">
                <p class="about-per__count">23</p>
                <p class="about-per__text">Человек в штате</p>
                </div>
            </div>
               <div class="about-per__item">
                <i class="about-per__icon fas fa-map-marker-alt"></i>
                <div class="about-per__wrap">
                <p class="about-per__count">120</p>
                <p class="about-per__text">Разработанных проектов</p>
                </div>
            </div>

        </div>
    </div>
    
</div>


<div class="about-clients" id="rewiew">
    
        <div class="about-clients__inner">
            <div class="about-clients__column about-clients__ptimary" style="width: 100%;">
                <p class="about-clients__subtitle white">Наши клиеты</p>
                <h3 class="about-clients__title about-clients__after-white">Отзывы о нашей работе</h3>
                <p class="about-clients__text white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>

                <div class="about-clients__feedback">
               
                    
                        {% for rev in review %}
                        {% if rev.moderate %}
                        <div class="about-clients__feedback-item">
                            <h4 class="about-clients__feedback-title">{{ rev.name }}</h4>
                            <p class="about-clients__feedback-text white">{{ rev.message }}</p>
                            <p class="about-clients__feedback-name">{{ rev.date | date:"d-m-Y" }}</p>
                        </div>
                        {% endif %}
                        {% endfor %}                 
                
                </div>
                <center><a href="{% url 'review' %}" class="btn about-clients__btn">Оставить отзыв</a></center>
                
            </div>
            {% comment %} <div class="about-clients__column taend">
                <p class="about-clients__subtitle primary">Наши клиенты</p>
                <h3 class="about-clients__title about-clients__after-primary">Клиенты, с которыми мы работаем</h3>
                <p class="about-clients__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                <div class="about-clients__partner">
                    <a href="" class="about-clients__item">
                        <img src="{% static 'images/client1.png' %}" alt="">
                    </a>
                     <a href="" class="about-clients__item">
                        <img src="{% static 'images/client1.png' %}" alt="">
                    </a>
                     <a href="" class="about-clients__item">
                        <img src="{% static 'images/client1.png' %}" alt="">
                    </a>
                     <a href="" class="about-clients__item">
                        <img src="{% static 'images/client1.png' %}" alt="">
                    </a>
                     <a href="" class="about-clients__item">
                        <img src="{% static 'images/client1.png' %}" alt="">
                    </a>
                     <a href="" class="about-clients__item">
                        <img src="{% static 'images/client1.png' %}" alt="">
                    </a>                                        
                
                </div>
            
            </div> {% endcomment %}
        </div>

</div>

<div class="about-partners">
    <div class="container">
        <div class="about-partners__inner">
            <p class="subtitle"></p>
            <h2 class="title">Наши партнеры</h2>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore recusandae ea dolores rem laborum dignissimos molestiae, in delectus dolore autem deserunt voluptate maiores soluta debitis accusantium blanditiis obcaecati esse beatae.</p>
            <div class="about-partners__wrapper">
            <a href="" class="about-partners__item">
                <img src="{% static 'images/stroyipark.png' %}" alt="" class="about-partners__img">
            </a>
            
            
            
            </div>
        </div>
    </div>
</div>

{% contact_form %}

{% endblock %}