
{% extends 'base.html' %}

{% block title %}  {% endblock %}
{% block description %}  {% endblock %}
{% block keywords %}  {% endblock %}
{% block canonical %} {% endblock %}
{% block og:title %}  {% endblock %}
{% block og:description %} {% endblock %}
{% block og:url %} {% endblock %}
{% block twitter:title %} {% endblock %}
{% block twitter:description %} {% endblock %}
{% block og:site_name %} {% endblock %}

{% block body %}

<div class="thank">
    <div class="container">
        <div class="thank__inner">
            <h1 class="title">Спасибо за обратную связь!</h1> 
            <p class="thank__text">Наши менеджеры свяжутся с Вами в ближайшее время!</p>
        
        </div>
    </div>
</div>

{% endblock %}